<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.akash.gosi.myriadinternchallenge" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_sign_up" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".ShowKingdomsActivity"
            android:label="@string/title_activity_show_kingdoms"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".ShowQuestsActivity"
            android:label="@string/title_activity_show_quests"
            android:parentActivityName=".ShowKingdomsActivity"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.akash.gosi.myriadinternchallenge.ShowKingdomsActivity" />
        </activity>
        <activity
            android:name=".ImageDialogActivity"
            android:label="@string/title_activity_image_dialog"
            android:parentActivityName=".ShowQuestsActivity"
            android:theme="@style/myDialogTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.akash.gosi.myriadinternchallenge.ShowQuestsActivity" />
        </activity>
        <activity
            android:name=".SavedQuestsActivity"
            android:label="@string/title_activity_saved_quests"
            android:parentActivityName=".ShowKingdomsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.akash.gosi.myriadinternchallenge.ShowKingdomsActivity" />
        </activity>
    </application>

</manifest>
